.side-menu {
    width: 250px;
    height: 100vh; /* full screen height */
    background-color: #F6F1DE;
    padding: 10px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
    font-family: inherit;
    color: #000000;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; /* 💡 distribute evenly */
  }
  .side-menu {
    
    border-right: 1px solid #000000;
  }
  
  
  .side-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  
  .side-menu li {
    cursor: pointer;
    font-size: 22px;
    text-align: left;
    border-bottom: 1px solid #000000;
    padding-bottom: 0.5rem;
    transition: font-weight 0.3s;
  }
  
 
  .side-menu a {
    text-decoration: none;
    color: inherit;
    display: block;
    height: 100%;
    width: 100%;
  }

.side-menu li:hover,
.side-menu li.focus,
.side-menu li.active {
    border-bottom: 2px solid #000000;


}

  
 
  
  
  